body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  white-space: pre-wrap;
  word-break: break-all;
}

p code {
  color: var(--secondary);
  font-weight: 600;
}

#__next {
  height: 100%;
}

#nav-mobile {
  min-height: 170px;
}

.nav-item.dropdown .dropdown-item {
  padding: 0;
}

.nav-item.dropdown .dropdown-item a {
  color: inherit;
}

.nav-item.dropdown .dropdown-item .navbar-item {
  width: 100%;
  padding: .55rem 1.5rem;
}

.result-block-container .result-block {
  opacity: 1;
}

.navbar-container-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .navbar-logo {
    text-decoration: none;
    color: black;
    font-weight: 1000;
  }
}

.navbar-nav .nav-link {
  padding: 0 !important;
}


.video-list {
  display: flex;
  flex-direction: column;  
}

.video-list__video:not(.header) {
  
  .col {
    border: 1px solid black;
  }
}
.video-list__video:hover:not(.header) {
  cursor: pointer;
  background: gray;
  color: white;
}
.video-list__video.header {
  background: gray;
  color: white;
  font-weight: 600;
  border: 1px solid black;
}

.order-row:hover {
  cursor: pointer;
  background: gray;
  color: white;
}